body {
  background-color: rgb(167, 211, 125);
}
#box {
  background-color: rgb(219, 235, 198);
  border: 1px solid rgb(61, 128, 181);
  padding-left: 5%;
}
#celebi {
  position: fixed;
  width: 20%;
  float: right;
  padding-right: 5%;
  right: 0;
}
h1 {
  font-family: "Brush Script MT", cursive;
}
li a {
  font-family: "Courier New", monospace;
  color: rgb(61, 128, 181);
  text-decoration: none;
}
#form {
	
}
#input {
	width: 60%;
}
